<div class="container text-center">
    <h1>About Page</h1>
    <p>We are onnixDesign. Our company focuses on creating a aesthetic pleasing design!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, veritatis, voluptatibus,
    deserunt, alias magnam recusandae eos velit aliquid ducimus voluptate quo facilis quod culpa 
    similique rerum perspiciatis blanditiis quae doloremque.
    </p>
</div>