/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";



 
h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
}

//Background Gradient
.home-callout {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+0,000000+100 */
  background: #ad0220; /* Old browsers */
  background: -moz-linear-gradient(top, #111111 0%, #111111 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #111111 0%,#111111 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #111111 0%,#111111 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
//Nav Styles 



.navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c1c1c+0,000000+100 */
  background: #1c1c1c; /* Old browsers */
  background: -moz-linear-gradient(top, #232323 0%, #232323 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #232323 0%,#232323 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #232323 0%,#232323 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.navbar-brand {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}
 
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;   
  &:hover {
    color:#DBDBDB;
    opacity: 0.75;
    }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 1 white;
  &:hover, &:focus {
    background-color: #494949;
  }
}

/* Removed border on main */
.navbar-static-top {
    border-width: 0 0 0;
}
.home-callout {
  color:white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.alert-notice {
  display: none;
}
/* Changing color of buttons */
.btn-default{
  color: white;
  background-color: #343434;
  border-color: #343434;
  &:hover, &:focus{
    color: white;
    opacity: 0.75;
    background-color: #3f3f3f;
  }
}
img.resize{
  width:auto; /* you can use % */
  height: auto;
}

/* ICONA */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?69h8ku');
  src:  url('fonts/icomoon.eot?69h8ku#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?69h8ku') format('truetype'),
  url('fonts/icomoon.woff?69h8ku') format('woff'),
  url('fonts/icomoon.svg?69h8ku#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0.4;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-om-icon:before {
  font-size: 40px;
  content: "\e900";
}
sup {
  
  top: -10px;
 
}